
{% extends "framework/framework.html" %}

{% block title %} 기본 챗봇_회원{% endblock title %}
{% load static %}


{% block content %}
<div class="chat-container">
    <h2>챗봇 선택</h2>
    <div class="button-container">
        <a href="/chatbot/basic_chatbot/" class="btn btn-login">기본</a>
    </div>
    <div class="button-container">
        <a href="/chatbot/romance_chatbot/" class="btn btn-login">로맨스</a>
    </div>
    <div class="button-container">
        <a href="/chatbot/rofan_chatbot/" class="btn btn-login">로판</a>
    </div>
    <div class="button-container">
        <a href="/chatbot/fantasy_chatbot/" class="btn btn-login">판타지</a>
    </div>
    <div class="button-container">
        <a href="/chatbot/historical_chatbot/" class="btn btn-login">무협</a>
    </div>
</div>
{% endblock content %}